<!DOCTYPE html>
<html>
<head>
    <title>Kontakt</title>
    <link rel="stylesheet" href="styles/layout.css" type="text/css">
</head>
<body>
    <div class="wrapper row1">
        <header id="header">
            <div id="hgroup">
                <h1><a href="/">Wyższa Szkoła Gotowania na gazie</a></h1>
                <h2>W Pcimiu Dolnym</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/rekrutacja">Rekrutacja</a></li>
                    <li><a href="/lista">Lista przyjętych</a></li>
                    <li><a href="/admin">Panel administratora</a></li>
                    <li class="last"><a href="/kontakt">Kontakt</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container">
            <!-- content body -->
            <div id="content" class="contentdiv">

                <div>
                   Telefon: 45245242542
                </div>
            </div>
            <!-- / content body -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- footer -->
    <div class="wrapper row3">
        <footer id="footer">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">WSGNG</a></p>
            <div class="clear"></div>
        </footer>
    </div>
</body>
</html>