<!DOCTYPE html>
<html>

<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="styles/layout.css" type="text/css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header">
            <div id="hgroup">
                <h1>
                    <a href="/">Wyższa Szkoła Gotowania na gazie</a>
                </h1>
                <h2>W Pcimiu Dolnym</h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">Aktualności</a>
                    </li>
                    <li>
                        <a href="/kryteria">Kryteria rekrutacji</a>
                    </li>
                    {% if loggedin %}
                    <li>
                        <a href="/rekrutacja">Twój wynik</a>
                    </li>
                    <li>
                        <a href="/lista">Listy przyjętych</a>
                    </li>
                    <li>
                        <a href="/edycja">Edycja danych</a>
                    </li>
                    <li>
                        <a href="/logout">Wyloguj</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Logowanie</a>
                    </li>
                    {% endif %}
                    <li class="last">
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container">
            <!-- content body -->
            <div id="content" class="contentdiv">
                {% if not loggedin %}
                <form action="/login_post" method="POST">
                    <div>
                        Login:
                    </div>
                    <div>
                        <input name="login" type="text" />
                    </div>
                    <div>
                        Hasło:
                    </div>
                    <div>
                        <input name="haslo" type="text" />
                    </div>
                    <div>
                        <input type="submit" />
                    </div>
                    <div>
                        <a href="/rejestracja">Utwórz nowe konto</a>
                    </div>
                </form>
                {% else %}
                <p>Zalogowano jako {{ errormsg }}</p>
                {% endif %}
            </div>
            <!-- / content body -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- footer -->
    <div class="wrapper row3">
        <footer id="footer">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved -
                <a href="#">WSGNG</a>
            </p>
            <div class="clear"></div>
        </footer>
    </div>
</body>

</html>