<!DOCTYPE html>
<html>

<head>
    <title>Rekrutacja</title>
    <link rel="stylesheet" href="styles/layout.css" type="text/css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header">
            <div id="hgroup">
                <h1>
                    <a href="/">Wyższa Szkoła Gotowania na gazie</a>
                </h1>
                <h2>W Pcimiu Dolnym</h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">Strona główna</a>
                    </li>
                    <li>
                        <a href="/aktualnosci">Aktualności</a>
                    </li>
                    <li>
                        <a href="/kryteria">Kryteria rekrutacji</a>
                    </li>
                    {% if loggedin %}
                    <li>
                        <a href="/rekrutacja">Twój wynik</a>
                    </li>
                    <li>
                        <a href="/lista/1">Listy przyjętych</a>
                    </li>
                    <li>
                        <a href="/edycja">Edycja danych</a>
                    </li>
                    <li>
                        <a href="/logout">Wyloguj</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Logowanie</a>
                    </li>
                    {% endif %}
                    <li class="last">
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container">
            <!-- content body -->
            <div id="content" class="contentdiv">
                <p>Zalogowano jako:</p>
                <h2>{{ personal_data[0] }} {{ personal_data[1] }}</h2>
                <p>Twoje wyniki matury:</p>
                <ul>
                    <li>Matematyka: {{ points[0] }}</li>
                    <li>Fizyka: {{ points[1] }}</li>
                    <li>Informatyka: {{ points[2] }}</li>
                    <li>Polski: {{ points[3] }}</li>
                    <li>Angielski: {{ points[4] }}</li>
                </ul>
                <p>Punkty rekrutacyjne na wybranych kierunkach:</p>
                <ol>
                    {% if fields[0] %}
                    <li>{{ fields[0] }}: {{ fields[1] }}</li>
                    {% endif %} {% if fields[2] %}
                    <li>{{ fields[2] }}: {{ fields[3] }}</li>
                    {% endif %} {% if fields[4] %}
                    <li>{{ fields[4] }}: {{ fields[5] }}</li>
                    {% endif %}
                </ol>
            </div>
            <!-- / content body -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- footer -->
    <div class="wrapper row3">
        <footer id="footer">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved -
                <a href="#">WSGNG</a>
            </p>
            <div class="clear"></div>
        </footer>
    </div>
</body>

</html>