

input[type=text], input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
}

input[type=text]:focus {
        border-color: #333;
}

input[type=submit] {
    padding-top: 20px;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.divdescription {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

label {
    padding-bottom: 10px;
    display: block;
}
